.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background: #f7f5fa;

    h1 {
        width: 100%;
        text-align: center;
        font-weight: normal 900;
        padding-top: 73px;
        font-family: "Roboto";

        @media screen and (max-width: 834px) {
            max-width: 834px;
            padding-top: 50px;
        }

        @media screen and (max-width: 414px) {
            max-width: 414px;
            padding-top: 42px;
        }
    }
}


.content {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;

    @media screen and (max-width: 834px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (max-width: 600px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
