.menuMobileFull {
    display: fixed;
    background: #111111;
    z-index: 10;
    height: 100vh;
}

.navigator {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.buttonCloseMobile {
    position: absolute;
    right: 24px;
    top: 16px;
    height: 42px;
    width: 42px;
    background: transparent;
    border: 0px;
}
