.container {
    background: #111111;
    
    // width: 100%;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 1443px;
    margin: 0 auto;

    height: 769px;
    width: 100%;
    

    h2 {
        color: #fff;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 22px;

        span {
            color: #6B31C4;
            font-weight: bold;
        }
    }

    h1 {
        font-family: 'Roboto' ;
        font-style: normal;
        font-weight: 900;
        font-size: 64px;
        line-height: 75px;
        text-align: center;
        width: 546px;
        margin-bottom: 94px;

        color: #FFFFFF;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 40%;
    }
}

.buttonGithub {
    width: 264px;
    height: 50px;
    border: 3px solid #FFFFFF;
    background: transparent;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;

    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;
    transition: filter 0.2s;

    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.8);
    }
}

.buttonLinkedin {
    width: 264px;
    height: 50px;
    border: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;

    background: #6B31C4;
    color: #fff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 1px;
    transition: filter 0.2s;

    &:hover {
        filter: brightness(0.8);
    }
}