.container {
    height: 593px;
    width: 100%;
    background-color: #fff;

    max-width: 1443px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;

    width: 100%;
    padding: 0px 16px;

    @media (max-width: 600px) {
        align-items: flex-start;
    }

    @media (max-width: 800px) {
        flex-direction: column;
    }

}

.content {
    width: 100%;

    h1 {
        font-family: "Roboto";
        font-weight: bold;
        font-size: 48px;
        line-height: 52px;
        line-height: 42px;

        color: #3A3A3A;
        margin-bottom: 32px;

        @media (max-width: 600px) {
            margin-top: 32px;
            font-size: 36px;
        }
    }

    p {
        font-family: "Roboto";
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        text-align: justify;

        color: #565656;
        max-width: 562px;

        @media (max-width: 600px) {
            max-width: 348px;
            font-size: 16px;
        }
    }
}

.contentImg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    img {
        width: 416px;
        height: 422px;
        border-radius: 50%;

        @media (max-width: 600px) {
            margin-top: 32px;
            width: 248px;
            height: 251px;
        }
    }
}
