.container {
    height: 593px;
    width: 100%;
    background-color: #fff;

    max-width: 1443px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    @media(max-width: 800px){
        flex-direction: column;
    }
    
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;

    h1 {
        font-family: 'Roboto';
        font-weight: bold;
        font-size: 48px;
        line-height: 42px;

        color: #3A3A3A;
        margin-bottom: 32px;

        @media(max-width: 600px){
            margin-top: 32px;
            font-size: 36px;
        }
    }

    p {
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 18px;
        line-height: 30px;
        text-align: justify;

        color: #565656;
        max-width: 562px;

        @media(max-width: 600px){
            max-width: 348px;
            font-size: 16px;
        }
    }

    img {
        width: 400px;
        height: 400px;
        border-radius: 50%;
    }
}
